<p id="notice"><%= notice %></p>

<p>
  <strong>Suit a1:</strong>
  <%= Suit.find(@video.suit_a1_id).name %>
</p>

<p>
  <strong>Suit a2:</strong>
  <%= Suit.find(@video.suit_a2_id).name %>
</p>

<p>
  <strong>Player a1:</strong>
  <%= @video.player_a1 %>
</p>

<p>
  <strong>Player a2:</strong>
  <%= @video.player_a2 %>
</p>

<p>
  <strong>Suit b1:</strong>
  <%= Suit.find(@video.suit_b1_id).name %>
</p>

<p>
  <strong>Suit b2:</strong>
  <%= Suit.find(@video.suit_b2_id).name %>
</p>

<p>
  <strong>Player b1:</strong>
  <%= @video.player_b1 %>
</p>

<p>
  <strong>Player b2:</strong>
  <%= @video.player_b2 %>
</p>

<p>
  <strong>Link:</strong>
  <%= @video.link %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
